<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <section>
        @RenderBody()
    </section>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>