<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />*@
    <link href="~/css/style.css" rel="stylesheet" />


</head>
<body>
    <script src="~/js/script.js"></script>
    <section>
        @RenderBody()
    </section>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>