@model Student
@{
    ViewBag.Title = "Home";
}
<div id="formContent">
    <h2>Your info:</h2>
    <form>
        Name: <input type="text" value=" " name="name" readonly style="border: none">
        Email: <input type="email" value=" " name="email" readonly>
        Father's initial: <input type="text" value=" " name="initial" readonly>
        Faculty: <input type="text" value=" " name="faculty" readonly>
        Specialization: <input type="text" value=" " name="specialization" readonly>
        Grade: <input type="text" value=" " name="media" readonly>
        Language of study: <input type="text" value=" " name="lang" readonly>
        Study program:<input type="text" value=" " name="study_program" readonly>
    </form>
    <ul style="list-style-type:none;" class="btnsHome">
        <li>
            <button type="button" id="btnSend" onclick="disableButton()"><img src="~/img/send.png" /></button>
            <div id="divRequestSent" style="display:none"><i>You already sent you request</i></div>
        </li>
        <li><button type="button" id="btnAddPref" onclick="showElement(this.id)"><img src="~/img/add.png" /></button></li>
        <li><button type="button" id="btnVizRepartizare"><img src="~/img/files.png" /></button></li>
    </ul>
    <partial name="PrefForm" style="display:none" />

</div>
<form align="right" method="post" asp-action="Logout" asp-controller="App">
    <input type="submit" class="logoutPosition" id="btnLogOut" value="EXIT"/>
</form>

