@model Student
@{
    ViewBag.Title = "HomePageStudent";
}

<div>
    <h1>Your data:</h1>
    First name: <input type="text" value=" " name="fname" readonly>
    <br />
    Last name: <input type="text" value=" " name="lname" readonly>
    <br />
    Email: <input type="email" value=" " name="email" readonly>
    <br />
    Father's initial: <input type="text" value=" " name="initial" readonly>
    <br />
    Faculty: <input type="text" value=" " name="faculty" readonly>
    <br />
    Specialization: <input type="text" value=" " name="specialization" readonly>
    <br />
    Language of study: <input type="text" value=" " name="lang" readonly>
    <br />
    Study program:<input type="text" value=" " name="study_program" readonly>
    <ul style="list-style-type:none;" class="btnsHome">
        <li>
            <button type="button" id="btnSend" onclick="disableButton()"><img src="~/img/send.png" /></button>
            <div id="divRequestSent" style="display:none"><i>You already sent you request</i></div>
        </li>
        <li><button type="button" id="btnAddPref" onclick="showElement(this.id)"><img src="~/img/add.png" /></button></li>
        <li><button type="button" id="btnVizRepartizare"><img src="~/img/files.png" /></button></li>
    </ul>
</div>
<partial name="PrefForm" style="display:none"/>

<button type="button" id="btnLogOut"><img src="~/img/logout.png" /></button>
