@model AccomodationRequest

<h4>AccomodationRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PrefForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Your preferences:</h2>
            <button type="button" id="btnShowDormPref" onclick="showElement(this.id)">Add dorm preferred</button>
            <button type="button" id="btnShowRoommatePref" onclick="showElement(this.id)">Add roommate preferred</button>

            <div id="dormPref" style="display:none">
                <h3>
                    *Optional: Add dorms with/without rooms preferred:
                </h3>
                <p>You are allowed to add up to 5 dorms of your choice in the wanted order. If you want, you can also add rooms preferred.</p>
                <div>
                    <label for="dorm">Dorm preferred: </label>
                    <select required>
                        <option hidden disabled selected>Dorm name</option>
                        <option value="Moxa">Moxa D</option>
                        <option value="BelvedereNou">Belvedere Nou (A6-A8)</option>
                        <option value="Tei">Tei C1</option>
                        <option value="BelvedereVechi">Belvedere Vechi (A1-A4)</option>
                        <option value="Agronomie">Agronomie (C1, C2)</option>
                    </select>
                    <button type="button" id="btnAddPrefRoom" onclick="showElement(this.id)">Add room preferred</button>
                    <br />
                    <div id="roomPref" style="display:none">
                        <label for="room">Room preferred: </label>
                        <input type="number" placeholder="Enter room preferred" name="roomPref">
                    </div>
                    <button type="reset" id="btnAddAnotherDorm" onclick="showElement(this.id)">Add another dorm preferred</button>
                </div>
                <p>You can't add another dorm preferred</p>
            </div>

            <div id="roommatesPref" style="display:none">
                <h3>
                    *Optional: Add roommate/s:
                </h3>
                <p>You are allowed to add up to 4 roommates of your choice. Also, you need to 
                specify the last included comfort (from 1 to 5) that you are willing to give up on 
                in order to be accommodated with your roommates of choice.</p>
                <p><i>Example: Set comfort 2. You are allocated in a dorm of comfort 1, one of your 
                    roommates of choice is allocated in a dorm of comfort 3, and the rest of them 
                    are allocated to a dorm of comfort 2. You will stay with the others in a dorm
                    of comfort 2, and he will be allocated in a different dorm (of comfort 3).</i></p>
                <div>
                    <label asp-for="LastComfortAccepted"><b>Last comfort accepted</b></label>
                    <input asp-for="LastComfortAccepted" placeholder="Enter last comfort accepted" min="1" max="5" name="lastComfort" required>
                </div>
                <br />
                <partial name="NewStudentForm" />
                <br />
                <button type="button" id="btnAddRoommate" onclick="showElement(this.id)">Add roommate preferred</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
