@model Administrator
<div class="wrapper fadeInDown">
    <div id="formContent">
        <input  type="text" readonly value="Format: MM-dd-yyyy HH:mm" />
        <form method="post" asp-action="DeadlinesAdmin" asp-controller="DeadlinesAdmin">
            <input type="datetime" asp-for="@Model.DdlRegistration" placeholder="Deadline registration for students"/>
            <input type="datetime" asp-for="@Model.DdlFinishProcess" placeholder="Deadline finish process" />
            
            <input type="submit" value="SUBMIT" />
            <div>@ViewBag.DeadlinesMessgage</div>
            <br />
        </form>
    </div>
</div>
