@{
    ViewBag.Title = "Change Password";
}
<form id="changePass" name="ChangePassword" action="ChangePassword">
    <div>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
    </div>
    <br />
    <div>
        <label for="new_psw"><b>Password</b></label>
        <input type="password" placeholder="Enter New Password" name="new_psw" required>
    </div>
    <br />
    <div>
        <label for="new_psw_confirm"><b>Repeat Password</b></label>
        <input type="password" placeholder="Confirm New Password" name="new_psw_confirm" required>
    </div>
    <br />
    <button type="submit" class="changepassbtn"><a asp-controller="App" asp-action="Login">Change</a></button>
        
</form>



