@model User
@{
    ViewBag.Title = "Change Password";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form action="ChangePassword">
            <input type="email" asp-for="Email" class="fadeIn first" autocomplete="off" name="login" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input type="password" asp-for="Password" class="fadeIn second" placeholder="New password">
            <span asp-validation-for="Password" class="text-danger"></span>

            <input type="password" asp-for="ConfirmPassword" class="fadeIn third" placeholder="Confirm new password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <button type="submit" class="fadeIn fourth">Change</button>
        </form>
        <div id="formFooter">
            <a class="underlineHover" asp-controller="App" asp-action="Login">Go to Log In</a>
        </div>
    </div>
</div>


