@model Camin
@{
    ViewBag.Title = "HomePageAdmin";
}
@section Scripts{
    <script src="~/node_modules/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
@*@{
        var db = Database.Open("SmallBakery");
        var query = "SELECT * FROM Product ORDER BY Name";
        var data = db.Query(query);
        var grid = new WebGrid(data);
    }*@
<script lang="text/javascript">
    function showHideForm() {
        var x = document.getElementsByClassName("formAdmin");
        if (x[0].style.display === "none")
            x[0].style.display = "block";
        else
            if (x[0].style.display === "block")
                x[0].style.display = "none";
    }
    function showFormDD() {
        var x = document.getElementById("formDD");
        if (x.style.display === "none")
            x.style.display = "block";
    }
</script>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        padding: 10px;
    }

    .grid-item {
        text-align: center;
    }
</style>

<button type="button" id="btnStart" onclick="showHideForm()">Start</button>
<button type="button" id="btnStop" onclick="showHideForm()">Stop</button>

<form method="post" class="formAdmin" id="formAddDorm" style="display:none">
    <h2>
        Add dorm:
    </h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <span asp-validation-for="DormName" class="text-danger"></span>
    <span asp-validation-for="DormComfort" class="text-danger"></span>
    <span asp-validation-for="DormNoRooms" class="text-danger"></span>
    <span asp-validation-for="DormBedsInRoom" class="text-danger"></span>
    <span asp-validation-for="DormGender" class="text-danger"></span>
    <span asp-validation-for="IsDormForRomanians" class="text-danger"></span>

    <div class="grid-container">
        <div class="grid-item"><input asp-for="DormName" placeholder="Name of dorm"></div>
        <div class="grid-item"><input asp-for="DormComfort" min="1" max="5" placeholder="Comfort"></div>
        <div class="grid-item"><input asp-for="DormNoRooms" min="10" placeholder="Room's number"></div>
        <div class="grid-item"><input asp-for="DormBedsInRoom" min="1" max="5" placeholder="Beds per room"></div>
        <div class="grid-item">
            <select asp-for="DormGender">
                <option value="G">Only for girls</option>
                <option value="B">Only for boys</option>
                <option value="M">Mixed</option>
            </select>
        </div>
        <div class="grid-item">
            <select asp-for="IsDormForRomanians">
                <option value="1">For romanian students</option>
                <option value="0">For foreign students</option>
            </select>
        </div>
        <button type="submit" id="btnAddDorm" onclick="showFormDD()">ADD</button>
    </div>
</form>
@*get table from DB*@
@*<form id="viewDormsFromDB">

            <h2>List of dorms</h2>
                <h1>Small Bakery Products</h1>
                <div id="grid">
                    @grid.GetHtml()
                </div>
    </form>*@
<form class="formAdmin" id="formDD" style="display:none">
    <h2>
        Set deadlines:
    </h2>
    <h3>
        Students have to register until:
        <input type="date" />
        <button type="button" id="btnAddDDStudents">Add deadline</button>
    </h3>
    <h3>
        Process will end:
        <input type="date" />
        <button type="button" id="btnAddFinalDD">Add deadline</button>
    </h3>
</form>

<button type="button" id="btnSubmitStart">Submit</button>
<button type="button" id="btnLogOut"><img src="~/img/logout.png" /></button>
