@{
    ViewBag.Title = "HomePageStudent";
}
<div>
    <h1>Your data:</h1>
    <h2>
        <b>First name: </b><input type="text" value=" " name="fname" readonly>
        <br />
        <b>Last name: </b><input type="text" value=" " name="lname" readonly>
        <br />
        <b>Email: </b><input type="email" value=" " name="email" readonly>
        <br />
        <b>Father's initial: </b><input type="text" value=" " name="initial" readonly>
        <br />
        <b>Faculty: </b><input type="text" value=" " name="faculty" readonly>
        <br />
        <b>Specialization: </b><input type="text" value=" " name="specialization" readonly>
        <br />
        <b>Language of study: </b><input type="text" value=" " name="lang" readonly>
        <br />
        <b>Study program: </b><input type="text" value=" " name="study_program" readonly>
    </h2>
    <ul style="list-style-type:none;" class="btnsHome">
        <li><button type="button" id="btnSend"><img src="~/img/send.png" /></button></li>
        <li><button type="button" id="btnAddPref"><img src="~/img/add.png" /></button></li>
        <li><button type="button" id="btnVizRepartizare"><img src="~/img/files.png" /></button></li>
    </ul>
</div>