@model User

@{
    ViewBag.Title = "Log In";
}
@*<form method="get" id="login" name="Login" action="Login">*@
<div class="wrapper fadeInDown">
    <div id="formContent">
        @*<div class="fadeIn first">@ViewBag.Title</div>*@
        <form method="get" asp-action="LoginGet" asp-controller="App">
            <input type="email" asp-for="Email" class="fadeIn first" autocomplete="off" @*name="login"*@ placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input type="password" asp-for="Password" class="fadeIn second" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit" class="fadeIn third">Log In</button>
        </form>
        <div id="formFooter">
            <a class="underlineHover" asp-controller="Account" asp-action="Register">Don't have an account?</a>
            <br><br />
            <a class="underlineHover" asp-controller="App" asp-action="ChangePassword">Forgot password?</a>
        </div>
    </div>
</div>
@*</form>*@
