@{
    ViewBag.Title = "Login";
}
<form id="login" name="Login" action="Login">
    <div>
        <label for="username" class="label">Username</label>
        <input type="text" name="username" id="username" />
    </div>
    <br>
    <div>
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password"/>
    </div>
    <br>
    <div class="rememberpass m-t-1">
        <input type="checkbox" name="rememberusername" id="rememberusername">
        <label for="rememberusername" class="label">Remember me!</label>
    </div>
    <br>
    <div>
        <button type="submit" id="loginbtn">Login</button>
    </div>
    <div>
        <p>Don't have an account? <a href="/app/register">Register</a>.</p>
        <p>Can't remember password? <a href="/app/changepassword">Change it</a>.</p>
    </div>
</form>
