@model User

@{
    ViewBag.Title = "Login";
}
<form method="get" id="login" name="Login" action="Login">
    <div>
        <label asp-for="Email">Username</label>
        <input asp-for="Email" placeholder="Enter Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br>
    <div>
        <label asp-for="Password"><b>Password</b></label>
        <input asp-for="Password" placeholder="Enter Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br>
    <div>
        <input type="checkbox" name="rememberusername" id="rememberusername">
        <label for="rememberusername" class="label">Remember me!</label>
    </div>
    <br>
    <div>
        <button type="submit" id="loginbtn">Login</button>
    </div>
    <div>
        <p>Don't have an account? <a asp-controller="App" asp-action="Register">Register</a>.</p>
        <p>Can't remember password? <a asp-controller="App" asp-action="ChangePassword">Change it</a>.</p>
    </div>
</form>
