@{
    ViewBag.Title = "Login";
}
<form id="login" name="Login" action="Login">
    <div>
        <label for="email">Username</label>
        <input type="email" name="email" placeholder="Enter Email" required/>
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" required/>
    </div>
    <br>
    <div>
        <input type="checkbox" name="rememberusername" id="rememberusername">
        <label for="rememberusername" class="label">Remember me!</label>
    </div>
    <br>
    <div>
        <button type="submit" id="loginbtn">Login</button>
    </div>
    <div>
        <p>Don't have an account? <a asp-controller="App" asp-action="Register">Register</a>.</p>
        <p>Can't remember password? <a asp-controller="App" asp-action="ChangePassword">Change it</a>.</p>
    </div>
</form>
