@model Student
@{
    ViewBag.Title = "NewStudentForm";
}
@section Scripts{
    <script src="~/node_modules/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <label asp-for="FirstName"><b>First name</b></label>
    <input asp-for="FirstName" placeholder="Enter first name">
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<br />
<div>
    <label asp-for="LastName"><b>Last name</b></label>
    <input asp-for="LastName" placeholder="Enter last name">
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<br />

<div>
    <label asp-for="Initial"><b>Father's initial</b></label>
    <input asp-for="Initial" placeholder="Enter father's initial">
    <span asp-validation-for="Initial" class="text-danger"></span>
</div>
<br />
<div>
    <label asp-for="StudyProgram"><b>Study program</b></label>
    <select asp-for="StudyProgram" id="study_program" onchange="populateYear(this.id, 'year')">
        <option hidden disabled selected>--select option--</option>
        <option value="License">License</option>
        <option value="Master">Master</option>
    </select>
    <span asp-validation-for="StudyProgram" class="text-danger"></span>
</div>
<br />
<div>
    <label asp-for="Year"><b>Year of study</b></label>
    <select asp-for="Year" id="year"></select>
    <span asp-validation-for="Year" class="text-danger"></span>
</div>
<br />
<div>
    <label asp-for="Faculty"><b>Faculty</b></label>
    <select asp-for="Faculty" id="faculty" onchange="populateSpecialization('study_program', this.id, 'specialization')">
        <option hidden disabled selected>--select option--</option>
        <option value="FABIZ">Faculty of Business Administration in foreign languages</option>
        <option value="FAMP">Faculty of Administration and Public Management</option>
        <option value="BBS">Bucharest Business School</option>
        <option value="BT">Faculty of Business and Tourism</option>
        <option value="CSIE">Facultaty of Cybernetics, Statistics and Economic Informatics</option>
        <option value="CIG">Faculty of Accounting and Management Information Systems</option>
        <option value="ETA">Faculty of Economics, Theoretical and Applied</option>
        <option value="EAM">Faculty of Agrifood and Environmental Economics</option>
        <option value="FABBV">Faculty of Finance and Banking</option>
        <option value="Management">Faculty of Management</option>
        <option value="Marketing">Faculty of Marketing</option>
        <option value="REI">Faculty of International Business and Economics</option>
    </select>
    <span asp-validation-for="Faculty" class="text-danger"></span>
</div>
<br />
<div>
    <label asp-for="Specialization"><b>Specialization</b></label>
    <select asp-for="Specialization" id="specialization"></select>
    <span asp-validation-for="Specialization" class="text-danger"></span>
</div>
<br />