@model Student
@{
    ViewBag.Title = "Register";
}
<form method="post" id="register" name="Register" action="Register">
    <p>Please fill in this form to create an account.</p>
    <div>
        <label asp-for="FirstName"><b>First name</b></label>
        <input asp-for="FirstName" placeholder="Enter first name" required>
    </div>
    <br />
    <div>
        <label asp-for="LastName"><b>Last name</b></label>
        <input asp-for="LastName" placeholder="Enter last name" required>
    </div>
    <br />
    <div>
        <label asp-for="Email"><b>Email</b></label>
        <input asp-for="Email" placeholder="Enter Email" required>
    </div>
    <br />
    <div>
        <label asp-for="Initial"><b>Father's initial</b></label>
        <input asp-for="Initial" placeholder="Enter father's initial" required>
    </div>
    <br />
    <div>
        <label asp-for="StudyProgram"><b>Study program</b></label>
        <select asp-for="StudyProgram" id="study_program" required>
            <option value="License">License</option>
            <option value="Master">Master</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Year"><b>Year of study</b></label>
        <select asp-for="Year" id="year" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="IsRoLanguage"><b>Language of study</b></label>
        <select asp-for="IsRoLanguage" id="lang" required>
            <option value="1">Romanian</option>
            <option value="0">English</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Faculty"><b>Faculty</b></label>
        <select asp-for="Faculty" id="faculty" required>
            <option value="1">CSIE</option>
            <option value="2">FABBV</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Specialization"><b>Specialization</b></label>
        <select asp-for="Specialization" id="specialization" required>
            <option value="1">Informatica Economica</option>
            <option value="2">Cibernetica</option>
            <option value="3">Statistica</option>
        </select>
    </div>
    <br />
    <div>
        <label asp-for="Password"><b>Password</b></label>
        <input asp-for="Password" placeholder="Enter Password" name="psw" required>
    </div>
    <br />
    <div>
        <label asp-for="ConfirmPassword"><b>Repeat Password</b></label>
        <input asp-for="ConfirmPassword" placeholder="Confirm Password" name="psw-confirm" required>
    </div>
    <br />
    <button type="submit" class="registerbtn">Register</button>
    <div class="container signin">
        <p>Already have an account? <a asp-controller="App" asp-action="Login">Sign in</a>.</p>
    </div>
</form>

