@model User
@{
    ViewBag.Title = "Reset Password";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post" asp-action="ResetPassword" asp-controller="App">
            <input type="email" asp-for="Email" class="fadeIn first" autocomplete="off" placeholder="Email">
            <button type="submit" class="fadeIn second">Reset password</button>
            <p>@ViewBag.Text</p>
        </form>
    </div>
</div>
