@model Student
@{
    ViewBag.Title = "Register";
}
@*<h1>@ViewBag.Title</h1>
    <div>@ViewBag.errorMessage</div>*@
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post" id="register" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="All"></div>
            @if (!string.IsNullOrEmpty(ViewBag.message))
            {
                <p>@ViewBag.messaage</p>
            }
            <input type="email" asp-for="Email" class="fadeIn first" autocomplete="off" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input type="text" asp-for="Cnp" class="fadeIn second" placeholder="CNP">
            <span asp-validation-for="Cnp" class="text-danger"></span>

            <input type="password" asp-for="Password" class="fadeIn third" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>

            <input type="password" asp-for="ConfirmPassword" class="fadeIn fourth" placeholder="Confirm Password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <input type="submit" class="fadeIn fifth" value="Join" />

        </form>
        <div id="formFooter">
            <a class="underlineHover" asp-controller="App" asp-action="Login">Go to Log In</a>
        </div>
    </div>
</div>

